*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    margin: border-box;
}

:root {
    --desaturated-red: hsl(0, 36%, 70%); /* PRIMARY*/
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%); /* NEUTRAL */
}


body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100vw;
    height: 100%;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.main-container { 
    width: 100%;
    height: auto;
}
.logo{ margin-left: 5%; }
.logo-img {
    width: 30%;
    padding: 5vh 0;
}
.hero {
    width: 100%;
    margin: 0 auto;
}

/* TEXT */
.textcontent {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.6rem;
    font-size: 40px;
    color: var(--desaturated-red);

    margin-top: 65px;
    margin-bottom: 18px;
}
.bold {
    font-weight: 400;
    color: black;
}
.text {
    color: var(--desaturated-red);
    font-size: 14px;
    line-height: 1.4rem;
    margin: 0px 35px 30px 35px;
}

/* FORM & BUTTON */
form {
    display: flex;
}
input {
    width: 80%;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid var(--desaturated-red);
    outline: none;
    background-color: hsl(0, 100%, 98%);
    transform: translateX(10%);
}
#email::placeholder {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--desaturated-red);
}

button {
    padding: 12px 25px;
    border-radius: 25px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    outline: none;
    transform: translateX(-20%);
}

button:hover {
    cursor: pointer;
    background: hsl(0, 80%, 86%);
}

/* ERROR MESSAGE */
.error {
    position: absolute;
    left: 35vw;
    color: var(--soft-red);
    margin: 60px 100px 20px 0px;
    display: block;
    font-size: 12px;
  }

.error-icon {
    border: 2px solid var(--soft-red);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 50px;
}


/* FOOTER */
.attribution { 
    font-size: 10px; 
    text-align: center; 
    margin-top: 10vh;
}
.attribution a { color: hsl(0, 74%, 74%); }

/* IMAGE FOR DESKTOP DESIGN */
.hero-desktop {
    display: none;
}



/* -------------DESKTOP---------------- */

@media (min-width: 950px) {
/* IMAGES FROM PHONE DESIGN TO DESKTOP DESIGN */

/* CONTAINERS GRID LAYOUT */
body {
    height: 100vh;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-container {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 180px auto;
}
.textcontent {
    width: 100%;
    margin: 0 auto;
    grid-column: 1;
}
.hero-mbl, .hero { display: none; }
.hero-desktop { 
    display: block;
    width: 610px;
    grid-column: 2;
}

/* LEFT PART WITH LOGO, TEXTS & FORM */
.logo-img {
    width: 150px;
    margin-left: 7vw;
}

.title {
    margin: 10vh 0 25px 10vw;
    font-size: 65px;
    line-height: 4.2rem;
    text-align: left;
}

.text {
    margin: 0px 12vw 40px 10vw;
    font-size: 16px;
    line-height: 1.7rem;
    text-align: left;
}

/* FORM & BUTTON */
form {
    width: 443px;
    margin-left: 8vw;

}

input {
    height: 25px;
    width: 27.83vw;
    margin-left: 0px;
    background-color: hsl(0, 0%, 98%);
}

button {
    padding: 18px 45px;
    border-radius: 30px;
}


/* ERROR MESSAGE FROM JAVASCRIPT */
.error {
    position: absolute;
    left: 0;
    margin: 80px 0 20px 15vw;
  }

.error-icon {
    background-position: top 50% right 80px;
}

/* FOOTER */
.attribution { 
    text-align: left;
    margin-top: 0;
    position: absolute;
    bottom: 0%;
    left: 25vw;
}
}
